.todo--inner textarea {
  background: transparent;
  border: none;
  resize: none;
  width: 99%;
  color: #000000a6;
  font-size: 16px;
}
.buttons {
  display: flex;
  justify-content: end;
}
.buttons button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.button--update {
  color: rgb(0, 128, 0);
}
.button--delete {
  color: rgb(113, 10, 10);
  font-size: 24px;
}
.todo {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
  position: relative;
}
.todo--inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
